<h1>Choose the publisher to browse series</h1>

<table class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th><%= sortable_column "Publisher name", :column => :name, :direction => :desc %></th>
        </tr>
    </thead>
    <tbody>
<% for @publisher in @publishers %>
        <tr>
            <td>
            <% if @publisher["image"] %>
                <object data="<%= @publisher["image"]["tiny_url"] %>" type="image/png">
                    <img src="http://static7.comicvine.com/uploads/square_mini/0/1/1-male-good-large.jpg" />
                </object>
            <% end %>
            </td>
            <td>
                <%= link_to @publisher["name"], :controller => "volumes", :action => "index", :id => @publisher["id"] %>
            </td>
        </tr>
    </tbody>
<% end %>
</table>

<%= will_paginate @publishers %>